:root {
	/* ------- colors ------- */
	--primary-color: #05050a;
	--secondary-color: #000000;
	--tertiary-color: #8f8fa1;
	--quaternary-color: #e4e4e7;
	--link-color: #ece2e2;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */

}
